.funny-glasses {
    position: relative;
    left:220%;
    bottom: 7em;
}
.bandana {
    position:absolute;
    top: 11em;
    left: 7em;
}
.pawprint {
    position: fixed;
    top:3em;
    left:4em;
}
